<div class="article" *ngIf="article">
    Edit Article
    <h2 class="article-title">{{ article.attributes.title }}</h2>
    <div class="form-field">
        <label for="title">Titel: </label>
        <input type="text" name="title" value="{{ article.attributes.title }}" [(ngModel)]="article.attributes.title">
    </div>
    <div class="form-field">
        <label for="title">Body: </label>
        <textarea rows="20" name="body" value="{{ article.attributes.body.value }}" [(ngModel)]="article.attributes.body.value"></textarea>
    </div>
    <a class="btn" (click)="goBack">Terug</a>
    <a class="btn" (click)="updateArticle(id)">Update</a>
</div>