input, textarea {
    padding: 1rem;
    border: none;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

.form, .form-field {
    display: flex;
    flex-direction: column;
}

.form-field {
    margin: 1rem 0;
}

.form-field > label {
    margin: 0.5rem 0;
}